/* #Container{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 800px;
} */

#Container{
    display: flex;
    justify-content: center;
    width: 700px;
    
}

.ContentPdf{
    width: 600px;
    height: 440px;
}



